/*
font-family: 'Exo 2', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Indie Flower', cursive;
*/


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
    /*background: url("../img/background-800px.jpg") fixed;*/
    /*background-size: cover;*/
    color: #4824cf;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

img,
embed,
object,
video {
    max-width: 100%;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

/* =======  Kitty Gallery ====== */
.cat-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.kitty-name {
    margin: 1vw 0;
}

.num-clicks {
    display: flex;
    justify-content: center;
    /*padding: 0 1vh;*/
    font-size: 3vh;
}



.picture {
    padding: 3vh;
    border: 2px solid black;
}
