/*
font-family: 'Exo 2', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Indie Flower', cursive;
*/


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
    /*background: url("../img/background-800px.jpg") fixed;*/
    /*background-size: cover;*/
    color: #030200;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

img,
embed,
object,
video {
    max-width: 100%;
}

.body-container {
    display: grid;
    grid-template: 5% repeat(5, 1fr) 5% / 30% 70%;
    grid-template-areas: "header header"
                         "thumbnail feature"
                         "thumbnail feature"
                         "thumbnail feature"
                         "thumbnail feature"
                         "thumbnail feature"
                         "footer footer";
    justify-items: center;
    /*background-color: #400711;*/
}

.thumbnail-container {
    grid-area: thumbnail;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*width: 100%;*/
    margin: 0;
    background-color: #a46e2e;
    height: 100%;
    width: 100%;

}

.main-container {
    grid-area: feature;
    background-color: #63421c;
    height: 100%;
    width: 100%;
}
/* ============================
        Navigation
=============================== */



/* ============================
        Kittie Thumbnails
=============================== */

.img-holder {
    border-bottom: 4px solid #63421c;
    padding: 2vh;
}

.picture {
    padding: 1vh;
    border: 4px dotted #3b2711;
    border-radius: 5px;

}


.kitty-name {
    margin: 1vw 0;
}

.img-holder {
    cursor: pointer;
}
.num-clicks {
    display: flex;
    justify-content: center;
    /*padding: 0 1vh;*/
    font-size: 3vh;
    margin: 0;
}

.thum-design {
    display: flex;
    justify-content: center;


/* ============================
        Kittie Feature
=============================== */

